<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
</head>

<body>
    <h1>wellcome to worker system servise. you can do alot of options with this api</h1>
    <h2>to add new worker</h2>
    <h3>send post</h3>
    <p>
        {
        "workerid" : id,
        "firstname":"firstname",
        "lastname":"lastname",
        "age": age,
        "id": "id",
        "email": "email",
        "profession":"profession",
        "salary": salary,
        "experience": experience,
        "department": "department"
        }

    </p>
</body>

</html>